/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif; 복붙용*/

.section-heading{
  font-family: 'Montserrat', sans-serif;
}

.section-paragraph{
  font-family: 'Nunito Sans' sans-serif;
}